<DModal
  @closeModal={{@closeModal}}
  @title={{theme-i18n "dev_utils.modal.title"}}
  class="dev-toolbox-modal"
>
  <h3>{{d-icon "running"}} {{theme-i18n "dev_utils.actions.title"}}</h3>
  <div class="modal-button-group">
    <DButton
      @title={{theme-prefix "dev_utils.actions.toggle_alerts"}}
      @icon="exclamation"
      @label={{theme-prefix "dev_utils.actions.toggle_alerts"}}
      @action={{this.toggleAlerts}}
    />
    <DButton
      @title={{theme-prefix "dev_utils.actions.toggle_plugin_outlets"}}
      @icon="plug"
      @label={{theme-prefix "dev_utils.actions.toggle_plugin_outlets"}}
      @action={{this.togglePluginOutlets}}
    />
  </div>

  <h3>{{d-icon "link"}} {{theme-i18n "dev_utils.links.title"}}</h3>
  <div class="modal-button-group">
    <DButton
      @title={{theme-prefix "dev_utils.links.themes"}}
      @icon="paint-brush"
      @label={{theme-prefix "dev_utils.links.themes"}}
      @action={{this.visitThemes}}
    />
    <DButton
      @title={{theme-prefix "dev_utils.links.colors"}}
      @icon="palette"
      @label={{theme-prefix "dev_utils.links.colors"}}
      @action={{this.visitColors}}
    />
    <DButton
      @title={{theme-prefix "dev_utils.links.settings"}}
      @icon="wrench"
      @label={{theme-prefix "dev_utils.links.settings"}}
      @action={{this.visitSettings}}
    />
    <DButton
      @title={{theme-prefix "dev_utils.links.plugins"}}
      @icon="plug"
      @label={{theme-prefix "dev_utils.links.plugins"}}
      @action={{this.visitPlugins}}
    />
    <DButton
      @title={{theme-prefix "dev_utils.links.user_prefs"}}
      @icon="user-cog"
      @label={{theme-prefix "dev_utils.links.user_prefs"}}
      @action={{this.visitUserPrefs}}
    />
    <DButton
      @title={{theme-prefix "dev_utils.links.text"}}
      @icon="font"
      @label={{theme-prefix "dev_utils.links.text"}}
      @action={{this.visitTextCustomize}}
    />
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.dev/discourse/discourse/blob/main/app/assets/javascripts/discourse/app/lib/plugin-api.js#L1"
      class="btn btn-icon-text"
    >
      {{d-icon "code"}}
      {{theme-i18n "dev_utils.links.plugin_api"}}
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://docs.discourse.org/"
      class="btn btn-icon-text"
    >
      {{d-icon "book-open"}}
      {{theme-i18n "dev_utils.links.docs"}}
    </a>
  </div>

  <h3>{{d-icon "tools"}} {{theme-i18n "dev_utils.common_settings.title"}}</h3>
  <div class="modal-button-group">
    <ComboBox
      @content={{this.commonSettings}}
      @value={{this.commonSetting}}
      @onChange={{this.navigateToSetting}}
    />
  </div>
</DModal>